.courseItem {
    width: 23.2rem;
    /* height: 28.3rem; */
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
}

.courseItem h3 {
    font-size: 1.6rem;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    min-height: 3.8rem;
    max-height: 3.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
    .courseItem {
        width: calc((100% - (2 - 1) * 1.6rem)/2);
    }
}

@media screen and (min-width: 700px) {
    .courseItem {
        width: calc((100% - (3 - 1) * 1.6rem)/3);
    }
}

@media screen and (min-width: 970px) {
    .courseItem {
        width: calc((100% - (4 - 1) * 1.6rem)/4);
    }
}

@media screen and (min-width: 1200px) {
    .courseItem {
        width: calc((100% - (5 - 1) * 1.6rem)/5);
    }
}

.author {
    font-size: 1.2rem;
    color: #1c1d1f;
    margin-bottom: 0.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: 1.68rem;
}

.rating {
    display: flex;
    margin-bottom: 0.4rem;
}

.ratingScore {
    color: #b4690e;
    font-weight: 700;
    margin-right: 0.4rem;
    font-size: 1.4rem;
}

.star img {
    height: 1.4rem;
}

.ratingN {
    margin-left: 0.4rem;
    font-size: 1.2rem;
    color: #6a6f73;
}

.price {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.bestseller {
    background-color: #eceb98;
    color: #3d3c0a;
    padding: 0.4rem 0.8rem;
    display: inline-block;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}